# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fraud_detection
DB_USER=mlops_user
DB_PASSWORD=mlops_password

# Data Source
CSV_PATH=../../data/creditcard.csv

# Streaming Parameters
BATCH_SIZE=50
STREAM_DELAY=1.0
